.chip {
    border-radius: 10px;
    padding: .25em .5em;
    display: inline-block;
}

.approved {
    color: #51bfa0;
    background-color: #e5faf2;
}

.declined {
    color: #d95087;
    background-color: #fff0f1;
}

.pending {
    color: #2a7ade;
    background-color: #ebf1fe;
}

