::selection {
    color: #fff;
    background: #d099c5;
}

a:hover {
    color: unset;
    text-decoration-color: unset;
}

.text-success {
    color: #51bfa0 !important;
}

.text-primary {
    color: #d099c5 !important;
}

.text-900 {
    color: #4f5665 !important;
}

.text-justify {
    text-align: justify !important;
}

.rounded-right {
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}

.rounded-left {
    border-top-left-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
}

.group-button:not(.active) {
    color: #8d8d8d !important;
}

.active {
    background-color: rgba(81, 191, 160, 0.2) !important;
}

.profile {
    width: 150px !important;
    height: 150px !important;
    border-radius: 10px !important;
    border: 1px solid #51bfa0 !important;
    cursor: pointer !important;
}

.profile-half-circle {
    width: 75px;
    height: 75px;
    background-color: #fff0f1;
    border-top-left-radius: 110px;
    border: 0;
    position: absolute;
    transition: .3s;
}

.tableList {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.87);
}
.tableList img {
    width: 40px !important;
    height: 40px !important;
    border-radius: 100% !important;
    margin-right: 8px;
}

.border-200 {
    border: 1px solid #e0e0e0;
}

.mt-half-5 {
    margin-top: 2.5rem;
}

.pointer {
    cursor: pointer;
}