.nav-item-ph {
    cursor: pointer;
    transition: .2s;
}
.nav-item-ph:hover, .nav-active {
    border-radius: 10px !important;
    background-color: rgb(208, 153, 197, 0.2) !important;
}

.nav-md-active {
    background-color: #51bfa0 !important;
}